.body{
    color: #D0E2E6;
}

.navbar{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

}

/* SellPost.css */
.input-group {
  max-width: 600px;
  margin: auto;
  
}

.input-group .form-control {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.input-group .btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}


.post-button-session{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* postdisplay */
.card-session {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; /* ให้ขอบภาพตัดตามการ์ด */
  max-width: 45%; /* หรือกำหนดขนาดตามต้องการ */
  margin-right: 0%;
  margin-left: 15%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}




