/* MainPage.css */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');

body {
  font-family: 'Kanit', sans-serif;
}

.main-container {
  padding: 20px;
  background-color: #364049;
}

.header {
  background-color: #424f5e;
  padding: 20px;
  color: white;
}

.title {
  color: white;
}

.button {
  color: white;
  font-size: 16px;
  margin: 0 10px;
}

.content-title {
  color: white;
}

.content-text {
  color: white;
  font-size: 18px;
}

/* Layout Services */
.services {
  margin-top: 40px;
}

.service-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .button {
    margin: 10px 0;
  }

  .services {
    flex-direction: column;
  }

  .service-card {
    margin-bottom: 20px;
  }
}

.custom-label {
  color: white;
  font-family: 'Kanit';
}

.custom-step .ant-steps-item-description {
  color: white !important;
  border-color: white !important;
  font-family: 'Kanit', sans-serif;
}

.ant-steps .ant-steps-item-title {
  color: white !important;
  font-family: 'Kanit', sans-serif;
}
.ant-steps .ant-steps-item-icon {
  background-color: #424f5e !important;
  color: white !important;
}
.ant-steps .ant-steps-icon {
  color: white !important;
}
.ant-steps-item-tail::after {
  background-color: white !important;
}
